.content
{
    font-size   : x-large;
    font-family : georgia, serif;
    color       : blue;
}

.title_1
{
    font-size       : x-large;
    font-family     : georgia, serif;
    text-decoration : underline;
}

.title_2
{
    font-size       : large;
    font-family     : georgia, serif;
    text-decoration : underline;
}

.footer_text
{
    font-size   : x-small;
    font-family : Cambria;
}

.title_2_content
{
    font-size   : medium;
    font-family : "courier new", courier;
}

.link
{
    color     : blue;
    font-size : medium;
}

.email
{
    color     : orangered;
    font-size : medium;
}

#map_canvas
{
    position         : relative;
    width            : 600px;
    height           : 600px;
    background-color : #CCC;

}

.professional_experience
{
    margin-left : 5px;
}

.place
{
    margin-left : 5px;
}

.menu_and_content
{
    float : left;
    width : 300px;
}

.preview
{
    top          : 50px;
    width        : 400px;
    height       : 200px;
    position     : fixed;
    right        : 600px;
    margin-right : -200px;

}

.panel
{
    top          : 10px;
    width        : 300px;
    height       : 200px;
    position     : fixed;
    right        : 0px;
    margin-right : -200px;

}

.slider-arrow
{
    top             : 10px;
    padding         : 5px;
    width           : 10px;
    font            : 400 12px Arial, Helvetica, sans-serif;
    color           : #000;
    text-decoration : none;
    position        : fixed;
    right           : 0px;
}